{
  "presets": [ 
    [ "@babel/preset-env", {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": "entry"
    } ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
