{
  "presets": [ 
    [ "@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "Safari >= 9",
          "IE >= 11",
          "last 2 iOS major versions"
        ],
        "node": "current"
      },
      "useBuiltIns": "entry"
    } ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-classes",
    "@babel/plugin-transform-destructuring",
    [ "@babel/plugin-proposal-object-rest-spread", { "loose": true } ]
  ]
}
